{% extends "layout.html" %}

{% block content %}
<body style="background-color: rgba(71, 4, 85, 0.425); font-family:Arial, Helvetica, sans-serif;">
<br>

<!-- Tableau Visualizations -->
<h2>Worldwide Overview</h2>
<div class='tableauPlaceholder' id='viz1621998413540' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;winepart1_3&#47;Story1&#47;1_rss.png' style='border: none' />
        </a></noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='winepart1_3&#47;Story1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;winepart1_3&#47;Story1&#47;1.png' /> 
            <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
        </object></div>                
        <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1621998413540');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='1016px';vizElement.style.height='991px';                    
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
        <br><br>

        <h2>Sommelier Reviews</h2>
<div class='tableauPlaceholder' id='viz1621998212440' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='Story 3 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;winepart2_2&#47;Story3&#47;1_rss.png' style='border: none' />
        </a></noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
            <param name='name' value='winepart2_2&#47;Story3' /><param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;winepart2_2&#47;Story3&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
        </object></div>                
        <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1621998212440');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='1016px';vizElement.style.height='991px';                    
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
        <br>
        
<div class='tableauPlaceholder' id='viz1622092680604' style='position: relative'>
        <noscript><a href='#'>
            <img alt='Story 4 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ya&#47;yay_16220926501740&#47;Story4&#47;1_rss.png' style='border: none' />
        </a></noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='yay_16220926501740&#47;Story4' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ya&#47;yay_16220926501740&#47;Story4&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
        </object></div>                
        <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1622092680604');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='1016px';vizElement.style.height='991px';                    
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
<!-- Contact Address -->

<b><h2>Contact Us:</h2>
    <!-- <h3>{{ message }}</h3> -->

    <address>
        Team Napa Valley<br />
        Napa, CA 94559<br />
        <abbr title="Phone">P:</abbr>
        707.251.5895
    </address></b>
<!-- 
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address> -->

</body>

{% endblock %}
