{% extends "layout.html" %}

{% block content %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/content/site.css" />
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>

    <body style="background-color: rgba(71, 4, 85, 0.425); font-family:Arial, Helvetica, sans-serif;">
        
        <!-- Slideshow container-->

        <div class="w3-content w3-display-container">

            <div class="w3-display-container mySlides">
              <img src="static/images/argentina.jpg" height="500px" width="980px">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Argentina
              </div>
            </div>
            
            <div class="w3-display-container mySlides">
              <img src="static/images/spain.jpg" height="500px" width="980px">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Spain
              </div>
            </div>
            
            <div class="w3-display-container mySlides">
              <img src="static/images/france.jpg" height="500px" width="980px">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                France
              </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="static/images/australia.jpg" height="500px" width="980px">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Australia
                </div>
            </div>
            
            <div class="w3-display-container mySlides">
                <img src="static/images/italy.jpg" height="500px" width="980px">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Italy
                </div>
            </div>
            
            <div class="w3-display-container mySlides">
                <img src="static/images/canada.jpg" height="500px" width="980px">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Canada
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="static\images\us_winery.jpg" height="500px" width="980px">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  United States
                </div>
            </div>

            <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
            
            </div>
            
            <script>
            var slideIndex = 1;
            showDivs(slideIndex);
            
            function plusDivs(n) {
              showDivs(slideIndex += n);
            }
            
            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";  
              }
              x[slideIndex-1].style.display = "block";  
            }
            </script>
          <br>


        <!-- Form container -->
        <!-- Red Wine
        <div class="container">
            <div class="row">
              <h2 style="font-weight: bolder;">Use our machine learning model to determine a wine's rating based on the following characteristics</h2>
                <div class="col-md-6">
                  <h2 style="font-weight: bold; font-size: x-large;">Red Wine:</h2>
                    <br>
                    <form method=post>
                        <dl>
                            <p>
                                <h3 style="font-weight: bold;">Volatile Acidity</h3>
                                Enter a pH level.<br/><br/>
                                {{form.title}}
                            </p>
                            <br>
                            <p>
                                <h3 style="font-weight: bold;">Alcohol Percentage</h3>
                                Enter an alcohol percentage.<br/><br/>
                                {{form.title}}
                            </p>
                            <br>
                            <p>
                              <h3 style="font-weight: bold;">Sulfates</h3>
                              Enter a sulfates value.<br/><br/>
                              {{form.title}}
                            </p>
                        </dl>
                        <p><input type="submit" value="submit"</p>
                    </form>
                </div>
            
                <!-- White Wine -->
                <!--
                <div class="col-md-6">
                  <h2 style="font-weight: bold; font-size: x-large;">White Wine:</h2>
                  <br>
                  <form method=post>
                      <dl>
                          <p>
                              <h3 style="font-weight: bold;">Volatile Acidity</h3>
                              Enter a pH level.<br/><br/>
                              {{form.title}}
                          </p>
                          <br>
                          <p>
                              <h3 style="font-weight: bold;">Alcohol Percentage</h3>
                              Enter an alcohol percentage.<br/><br/>
                              {{form.title}}
                          </p>
                          <br>
                          <p>
                            <h3 style="font-weight: bold;">Free Sulfur Dioxides</h3>
                            Enter a free sulfur dioxide value.<br/><br/>
                            {{form.title}}
                          </p>
                      </dl>
                      <p><input type="submit" value="submit"</p>
                  </form>
              </div>
            </div> 
        </div> -->

        <br>

        <b><h2>Contact Us:</h2>

        <address>
            Team Napa Valley<br />
            Napa, CA 94559<br />
            <abbr title="Phone">P:</abbr>
            707.251.5895
        </address></b>

        <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="../static/scripts/app.js"></script>

      </body>
</html>

{% endblock %}